html,
body {
  height: 100%;
}

body {
    /*display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;*/
    padding-top: 0px;
    padding-bottom: 40px;
    background-color: rgb(115, 226, 226);
    background-image:url("images/YDRETME_1.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    padding-bottom: 0px;

  }

  .myth{
    text-align: center;
    width: 15%;
  }
  td, th {
    border: 1px solid white;
    text-align: left;
    padding: 20px;
  }

  tr:nth-child(even) {
    background-color:rgb(189, 204, 204);
  }

  .myclass1{
    width: 60%;
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
  }

  h1,h2{
    text-align: center;
  }

  .myclass2{
    text-align: center;
    padding-bottom: 5px;
    padding-top: 0px;
    margin-bottom: 0px;
  }

.buttons{
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 70px;
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00a6eb;
}


li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}
li a{
  color: white;
}

li a:hover {
  opacity: 0.7;
  text-decoration: none;
  color:white;
}
